packages:
  yum:
    python3-devel: []
    gcc: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"

container_commands:
  01_pip_upgrade:
    command: "/var/app/venv/staging-LQM1lest/bin/pip install --upgrade pip"
  02_pip_install:
    command: "/var/app/venv/staging-LQM1lest/bin/pip install -r requirements.txt"
